/* navigation */
html {
  background-color: white;
}
body,
header,
main {
  background-color: #fff;
}

li {
  list-style: none;
}

nav a:link {
  text-decoration: none;
  font-family: "neue-haas-grotesk-display";
  color: black;
}
nav a:visited {
  text-decoration: none;
  font-family: "neue-haas-grotesk-display";
  color: black;
}
nav a:hover {
  text-decoration: none;
  font-family: "neue-haas-grotesk-display";
  color: black;
}
nav a:active {
  text-decoration: none;
  font-family: "neue-haas-grotesk-display";
  color: black;
}

nav {
  display: flex;
  font-family: "neue-haas-grotesk-display";
  color: black;
}

.box1,
.box2 {
  background-color: white;
  padding: 10px;
  border-style: solid;
  border-width: 1px 1px 1px 0px;
  border-color: black;
}

.box1 {
  border-width: 1px 1px 1px 1px;
}

/*header*/
h1 {
  font-family: "messapiaregular";
}

.title {
  position: absolute;
  margin-left: 11.786vw;
  margin-top: 24.231vw;
  font-size: 5.124vw;
}

.title2 {
  position: absolute;
  margin-left: 11.786vw;
  margin-top: 30.747vw;
  font-size: 5.124vw;
}

.bg {
  margin-top: -10vw;
  margin-left: 70vw;
}
