/* navigation */
html {
  background-color: white;
}
body,
header,
main {
  background-color: #fff;
}

li {
  list-style: none;
}

nav a:link {
  text-decoration: none;
  font-family: "neue-haas-grotesk-display";
  font-size: 1em;
  color: black;
}
nav a:visited {
  text-decoration: none;
  font-family: "neue-haas-grotesk-display";
  color: black;
}
nav a:hover {
  text-decoration: none;
  font-family: "neue-haas-grotesk-display";
  color: black;
}
nav a:active {
  text-decoration: none;
  font-family: "neue-haas-grotesk-display";
  color: black;
}

nav {
  margin-top: 5vw;
  display: flex;
  font-family: "neue-haas-grotesk-display";
  color: black;
  justify-content: left;
  margin-left: 11.786vw;
}

.box1,
.box2 {
  background-color: white;
  padding: 1vw 4vw 1vw 4vw;
  border-style: solid;
  border-width: 0.7px 0.7px 0.7px 0px;
  border-color: black;
}
.box1:hover,
.box2:hover {
  background-color: #f5f0ee;
  cursor: pointer;
}
.box1 {
  border-width: 0.7px 0.7px 0.7px 0.7px;
}

/*header*/
h1 {
  font-family: "messapiaregular";
}

.title {
  position: absolute;
  margin-left: 11.786vw;
  margin-top: 21.231vw;
  font-size: 5.124vw;
}

.title2 {
  position: absolute;
  margin-left: 11.786vw;
  margin-top: 27.747vw;
  font-size: 5.124vw;
}

.bg {
  margin-top: -10vw;
  margin-left: 70vw;
  width: 26vw;
}

.wb {
  position: absolute;
  width: 16.471vw;
  margin-left: -21vw;
}

h2 {
  font-size: 1.07em;
  font-weight: normal;
  font-family: "neue-haas-grotesk-display";
  text-align: right;
}

#container {
  margin-top: -23vw;
  width: 19em;
  margin-left: 47vw;
}
