/* navigation */
html {
  background-color: white;
  position: fixed;
}
body,
header,
main {
  background-color: #fff;
}

li {
  list-style: none;
}

nav a:link {
  text-decoration: none;
  font-family: "neue-haas-grotesk-display";
  font-size: 0.8em;
  color: black;
  letter-spacing: 0.1em;
}
nav a:visited {
  text-decoration: none;
  font-family: "neue-haas-grotesk-display";
  color: black;
}
nav a:hover {
  text-decoration: none;
  font-family: "neue-haas-grotesk-display";
  color: black;
}
nav a:active {
  text-decoration: none;
  font-family: "neue-haas-grotesk-display";
  color: black;
}

nav {
  margin-top: 7vw;
  display: flex;
  font-family: "neue-haas-grotesk-display";
  color: black;
  justify-content: left;
  margin-left: 11.786vw;
}

.box1,
.box2 {
  background-color: white;
  padding: 1vw 4vw 1vw 4vw;
  border-style: solid;
  border-width: 0.7px 0.7px 0.7px 0px;
  border-color: black;
}
.box1:hover,
.box2:hover {
  background-color: #f5f0ee;
  cursor: pointer;
}
.box1 {
  border-width: 0.7px 0.7px 0.7px 0.7px;
}

/*header*/
h1 {
  font-family: "messapiaregular";
}

.title {
  position: absolute;
  margin-left: 11.786vw;
  margin-top: 26.231vh;
  font-size: 5.124vw;
}

.title2 {
  position: absolute;
  margin-left: 11.786vw;
  margin-top: 38.747vh;
  font-size: 5.124vw;
}

.bg {
  margin-top: -10vw;
  margin-left: 70vw;
  width: 26vw;
}

.wb {
  position: absolute;
  width: 16.471vw;
  margin-left: -21vw;
}

h2 {
  font-size: 1em;
  font-weight: 200;
  font-family: "neue-haas-grotesk-display";
  text-align: right;
  letter-spacing: 0.1em;
}

#container {
  margin-top: -60vh;
  width: 19em;
  margin-left: 47vw;
}

/*responsive*/

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }

  80% {
    transform: scaleY(1.1);
  }

  100% {
    transform: scaleY(1);
  }
}

@media screen and (max-width: 1150px) {
  #container {
    margin-top: -55vh;
    width: 19em;
    margin-left: 35vw;
  }
}

@media screen and (max-width: 1135px) {
  h2 {
    font-size: 1em;
    font-weight: 200;
    font-family: "neue-haas-grotesk-display";
    text-align: right;
    letter-spacing: 0.1em;
    margin-top: 5vw;
    margin-right: 1vw;
  }
}

@media screen and (max-width: 1042px) {
  h2 {
    font-size: 1em;
    font-weight: 200;
    font-family: "neue-haas-grotesk-display";
    text-align: right;
    letter-spacing: 0.1em;
    margin-top: 5vw;
    margin-right: 2vw;
  }

  .wb {
    position: absolute;
    width: 18.471vw;
    margin-left: -22.2vw;
}

.bg {
  margin-top: -9vw;
  margin-left: 70vw;
  width: 26vw;
}
}

@media screen and (max-width: 1000px) {
  h2 {
    font-size: 1em;
    font-weight: 200;
    font-family: "neue-haas-grotesk-display";
    text-align: right;
    letter-spacing: 0.1em;
    margin-top: 15vw;
    margin-right: 6vw;
  }
}

@media screen and (max-width: 952px) {
  h2 {
    font-size: 1em;
    font-weight: 200;
    font-family: "neue-haas-grotesk-display";
    text-align: right;
    letter-spacing: 0.1em;
    margin-top: 20vw;
    margin-right: 7vw;
  }

#container {
  margin-top: -60vh;
  width: 19em;
  margin-left: 35vw;
}

.bg {
  margin-top: 1vw;
  margin-left: 70vw;
  width: 26vw;
}

.wb {
    width: 18.471vw;
    margin-left: -22vw;
    margin-top: 10vw;
}
}

@media screen and (max-width: 896px) {
  h2 {
    font-size: 1em;
    font-weight: 200;
    font-family: "neue-haas-grotesk-display";
    text-align: right;
    letter-spacing: 0.1em;
    margin-top: 20vw;
    margin-right: 8vw;
  }

  #container {
    margin-top: -70vh;
    width: 19em;
    margin-left: 35vw;
}

.bg {
  margin-top: 2vw;
  margin-left: 70vw;
  width: 26vw;
}
}

@media screen and (max-width: 866px) {
  h2 {
    font-size: 1em;
    font-weight: 200;
    font-family: "neue-haas-grotesk-display";
    text-align: right;
    letter-spacing: 0.1em;
    margin-top: 25vw;
    margin-right: 10vw;
  }
}

@media screen and (max-width: 830px) {
  h2 {
    font-size: 1em;
    font-weight: 200;
    font-family: "neue-haas-grotesk-display";
    text-align: right;
    letter-spacing: 0.1em;
    margin-top: 30vw;
    margin-right: 12vw;
  }

  .bg {
    margin-top: 5vw;
    margin-left: 70vw;
    width: 26vw;
}

.wb {
  width: 18.471vw;
  margin-left: -22vw;
  margin-top: 14vw;
}
}

@media screen and (max-width: 800px) {
  nav {
    margin-top: 5vw;
    width: 70vw;
    display: flex;
    flex-direction: column;
    margin-left: 15vw;
}

  .box1,
  .box2 {
    background-color: white;
    padding: 5vw 5vw 5vw 5vw;
    border-style: solid;
    border-width: 0.7px 0.7px 0.7px 0.7px;
    border-color: black;
    margin-bottom: 3vw;
  }

  .home {
    width: 20px;
    position: absolute;
    margin-top: -7vh;
    margin-left: 80vw;
  }

  #container {
    margin-top: -80vh;
    width: 25em;
    margin-left: 25vw;
}

.title {
  position: absolute;
  margin-left: 11.786vw;
  margin-top: 10.231vh;
  font-size: 5.124vw;
}

.title2 {
  position: absolute;
  margin-left: 11.786vw;
  margin-top: 23.747vh;
  font-size: 4.124vw;
}

.wb {
  position: absolute;
  width: 18.471vw;
  margin-top: 9vw;
}

.bg {
  margin-top: 1vw;
  margin-left: 70vw;
  width: 26vw;
}

.title {
  position: absolute;
  margin-left: 11.786vw;
  margin-top: 26.231vh;
  font-size: 5.124vw;
}

.title2 {
  position: absolute;
  margin-left: 11.786vw;
  margin-top: 38.747vh;
  font-size: 5.124vw;
}
}

@media screen and (max-width: 750px) {
  h2 {
    font-size: 1em;
    font-weight: 200;
    font-family: "neue-haas-grotesk-display";
    text-align: right;
    letter-spacing: 0.1em;
    margin-top: -85vw;
    margin-right: 16vw;
}

@media screen and (max-width: 715px) {
  nav {
    margin-top: 10vw;
    width: 70vw;
    display: flex;
    flex-direction: column;
    margin-left: 15vw;
}

  .box1,
  .box2 {
    background-color: white;
    padding: 5vw 5vw 5vw 5vw;
    border-style: solid;
    border-width: 0.7px 0.7px 0.7px 0.7px;
    border-color: black;
    margin-bottom: 3vw;
  }

  .home {
    width: 20px;
    position: absolute;
    margin-top: -7vh;
    margin-left: 80vw;
  }

  h2 {
    font-size: 1em;
    font-weight: 200;
    font-family: "neue-haas-grotesk-display";
    text-align: right;
    letter-spacing: 0.1em;
    margin-top: -90vw;
    margin-right: 20vw;
}
}

@media screen and (max-width: 700px) {
  nav {
    margin-top: 10vw;
    width: 70vw;
    display: flex;
    flex-direction: column;
    margin-left: 15vw;
}

  .box1,
  .box2 {
    background-color: white;
    padding: 5vw 5vw 5vw 5vw;
    border-style: solid;
    border-width: 0.7px 0.7px 0.7px 0.7px;
    border-color: black;
    margin-bottom: 3vw;
  }

  .home {
    width: 20px;
    position: absolute;
    margin-top: -7vh;
    margin-left: 80vw;
  }

  .title {
    position: absolute;
    margin-left: 11.786vw;
    margin-top: 10.231vh;
    font-size: 5.124vw;
}

.title2 {
  position: absolute;
  margin-left: 11.786vw;
  margin-top: 20.747vh;
  font-size: 5.124vw;
}

h2 {
  font-size: 1em;
  font-weight: 200;
  font-family: "neue-haas-grotesk-display";
  text-align: right;
  letter-spacing: 0.1em;
  margin-top: -15vw;
  position: absolute;
}

  .bg {
    position: absolute;
    margin-top: 5vw;
    margin-left: 70vw;
    width: 26vw;
  }

  .wb {
    width: 15.471vw;
    margin-left: 75.5vw;
    margin-top: 16vw;
}
}

@media screen and (max-width: 666px) {
  h2 {
    font-size: 1em;
    font-weight: 200;
    font-family: "neue-haas-grotesk-display";
    text-align: right;
    letter-spacing: 0.1em;
    margin-top: -15vw;
    margin-right: 21vw;
}
}

@media screen and (max-width: 640px) {
  .title {
    position: absolute;
    margin-left: 11.786vw;
    margin-top: 13.231vh;
    font-size: 5.124vw;
  }

  .title2 {
    position: absolute;
    margin-left: 11.786vw;
    margin-top: 25.747vh;
    font-size: 5.124vw;
  }

  h2 {
    font-size: 1em;
    font-weight: 200;
    font-family: "neue-haas-grotesk-display";
    text-align: right;
    letter-spacing: 0.1em;
    margin-top: -10vw;
    margin-right: 27vw;
}

.bg {
  position: absolute;
  margin-top: 1vw;
  margin-left: 70vw;
  width: 26vw;
}

.wb {
  width: 17.471vw;
  margin-left: 74.4vw;
  margin-top: 10vw;
}
}

@media screen and (max-width: 600px) {
  .bg {
    position: absolute;
    margin-top: 7vw;
    margin-left: 70vw;
    width: 26vw;
}

  .wb {
    width: 17.471vw;
    margin-left: 74.4vw;
    margin-top: 16vw;
}

  h2 {
    font-size: 1em;
    font-weight: 200;
    font-family: "neue-haas-grotesk-display";
    text-align: right;
    letter-spacing: 0.1em;
    margin-top: 110vw;
    margin-right: 29vw;
  }
}

@media screen and (max-width: 575px) {
  h2 {
    font-size: 0.8em;
    font-weight: 200;
    font-family: "neue-haas-grotesk-display";
    text-align: right;
    letter-spacing: 0.1em;
    margin-top: -10vw;
    margin-right: 35vw;
}

  .bg {
    position: absolute;
    margin-top: 7vw;
    margin-left: 62.5vw;
    width: 30vw;
}

.wb {
  width: 20.471vw;
  margin-left: 67.5vw;
  margin-top: 17vw;
}
}

@media screen and (max-width: 545px) {
  h2 {
    font-size: 1em;
    font-weight: 200;
    font-family: "neue-haas-grotesk-display";
    text-align: right;
    letter-spacing: 0.1em;
    margin-top: -15vw;
    margin-right: 35vw;
}

#container {
  margin-top: 50vh;
  width: 25em;
  margin-left: 20vw;
}
}

@media screen and (max-width: 517px) {
  h2 {
    font-size: 1em;
    font-weight: 200;
    font-family: "neue-haas-grotesk-display";
    text-align: right;
    letter-spacing: 0.1em;
    margin-top: -20vw;
    margin-right: 40vw;
}

  .bg {
    position: absolute;
    margin-top: 7vw;
    margin-left: 60.5vw;
    width: 35vw;
}

.wb {
  width: 24.471vw;
  margin-left: 65.8vw;
  margin-top: 18vw;
}
}

@media screen and (max-width: 490px) {
  h2 {
    font-size: 1em;
    font-weight: 200;
    font-family: "neue-haas-grotesk-display";
    text-align: right;
    letter-spacing: 0.1em;
    margin-top: -20vw;
    margin-right: 41vw;
}

#container {
  margin-top: 50vh;
  width: 25em;
  margin-left: 19vw;
}
}

@media screen and (max-width: 470px) {
  h2 {
    font-size: 1em;
    font-weight: 200;
    font-family: "neue-haas-grotesk-display";
    text-align: right;
    letter-spacing: 0.1em;
    margin-top: -20vw;
    margin-right: 47vw;
}

  .bg {
    position: absolute;
    margin-top: 13vw;
    margin-left: 60.5vw;
    width: 37vw;
}

.wb {
  width: 26.471vw;
  margin-left: 65.8vw;
  margin-top: 25vw;
}
}

@media screen and (max-width: 443px) {
  h2 {
    font-size: 1em;
    font-weight: 200;
    font-family: "neue-haas-grotesk-display";
    text-align: right;
    letter-spacing: 0.1em;
    margin-top: -20vw;
    margin-right: 50vw;
}
}

@media screen and (max-width: 407px) {
  h2 {
    font-size: 1em;
    font-weight: 200;
    font-family: "neue-haas-grotesk-display";
    text-align: right;
    letter-spacing: 0.1em;
    margin-top: 160vw;
    margin-right: 60vw;
    margin-left: -30vw;
  }
}

@media screen and (max-width: 380px) {
  h2 {
    font-size: 0.8em;
    font-weight: 100;
    font-family: "neue-haas-grotesk-display";
    text-align: right;
    letter-spacing: 0.1em;
    margin-top: 160vw;
    margin-right: 60vw;
    margin-left: -30vw;
  }

  .title2 {
    position: absolute;
    margin-left: 11.786vw;
    margin-top: 21.747vh;
    font-size: 5.124vw;
  }
}

@media screen and (max-width: 375px) {
  .title {
    position: absolute;
    margin-left: 8.786vw;
    margin-top: 5.231vh;
    font-size: 5.124vw;
  }

  .title2 {
    position: absolute;
    margin-left: 8.786vw;
    margin-top: 10.747vh;
    font-size: 5.124vw;
  }

  .wb {
    width: 32.471vw;
    margin-left: 57.3vw;
    margin-top: 38vw;
}

.bg {
  position: absolute;
  margin-top: 24vw;
  margin-left: 51vw;
  width: 45vw;
}

  #container {
    margin-top: -60vh;
    width: 19em;
    margin-left: 32vw;
  }

  h2 {
    font-size: 0.8em;
    font-weight: 200;
    font-family: "neue-haas-grotesk-display";
    text-align: right;
    letter-spacing: 0.1em;
    margin-top: 200vw;
    margin-right: 60vw;
  }
}