html {
  background-color: white;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
body {
  background-image: url(Artboard\ 1.svg);
  background-size: 100%;
}
li {
  list-style: none;
}

nav a:link {
  text-decoration: none;
  font-family: "neue-haas-grotesk-display";
  font-size: 1em;
  color: black;
}
nav a:visited {
  text-decoration: none;
  font-family: "neue-haas-grotesk-display";
  color: black;
}
nav a:hover {
  text-decoration: none;
  font-family: "neue-haas-grotesk-display";
  color: black;
}
nav a:active {
  text-decoration: none;
  font-family: "neue-haas-grotesk-display";
  color: black;
}

nav {
  margin-top: 5vw;
  display: flex;
  font-family: "neue-haas-grotesk-display";
  color: black;
  justify-content: left;
  margin-left: 11.786vw;
}

.box1,
.box2 {
  background-color: white;
  padding: 1vw 4vw 1vw 4vw;
  border-style: solid;
  border-width: 0.7px 0.7px 0.7px 0px;
  border-color: black;
}
.box1:hover,
.box2:hover {
  background-color: #f5f0ee;
  cursor: pointer;
}
.box1 {
  border-width: 0.7px 0.7px 0.7px 0.7px;
}

h1 {
  font-family: "neue-haas-grotesk-display";
  font-weight: 300;
}
h2,
h3,
h5 {
  font-family: "neue-haas-grotesk-display";
  font-weight: 200;
}

#info {
  margin-top: 7vw;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  margin-top: 7vw;
}

#container {
  display: flex;
  align-items: center;
}

.dot {
  height: 1vw;
  width: 1vw;
  background-color: #070606;
  border-radius: 50%;
  display: inline-block;
  margin-left: 1vw;
  margin-right: 1vw;
}
