html {
  background-color: white;
  color: #3e3e3e;
}
body {
  background-image: url(/img/winelistbg.svg);
  background-size: 145%;
  background-position-x: -25vw;
}

li {
  list-style: none;
}

nav a:link {
  text-decoration: none;
  font-family: "neue-haas-grotesk-display";
  font-size: 0.8em;
  color: black;
  letter-spacing: 0.1em;
}
nav a:visited {
  text-decoration: none;
  font-family: "neue-haas-grotesk-display";
  color: black;
}
nav a:hover {
  text-decoration: none;
  font-family: "neue-haas-grotesk-display";
  color: black;
}
nav a:active {
  text-decoration: none;
  font-family: "neue-haas-grotesk-display";
  color: black;
}

nav {
  margin-top: 7vw;
  display: flex;
  font-family: "neue-haas-grotesk-display";
  color: black;
  justify-content: left;
  margin-left: 11.786vw;
}

.box1,
.box2 {
  background-color: white;
  padding: 1vw 4vw 1vw 4vw;
  border-style: solid;
  border-width: 0.7px 0.7px 0.7px 0px;
  border-color: black;
}
.box1:hover,
.box2:hover {
  background-color: #f5f0ee;
  cursor: pointer;
}
.box1 {
  border-width: 0.7px 0.7px 0.7px 0.7px;
  background-color: #f5f0ee;
}

h1 {
  position: absolute;
  margin-top: 1vw;
  margin-left: 76vw;
  font-family: "messapiaregular";
  font-weight: 300;
  font-size: 1.8em;
  color: #3e3e3e;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  max-height: 600px;
}

.imagecontainer {
  height: 20vw;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.logo {
  font-family: "messapiaregular";
  font-size: 1em;
  position: absolute;
  margin-top: -6vh;
  margin-left: 15vw;
  color: #3e3e3e;
}

.home {
  width: 1.5vw;
  position: absolute;
  margin-top: 1.5vh;
  margin-left: 54vw;
}

.home:hover {
  width: 1.7vw;
  margin-left: 53.9vw;
}

article h3 {
  font-weight: 400;
}
article h3,
article p {
  text-align: center;
  font-family: "neue-haas-grotesk-display";
}
main {
  justify-content: center;
  margin-top: -2vw;
  padding: 3vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 240px));
  gap: 2rem;
}

article {
  margin-top: 10vh;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 10vw;
  margin-left: 10vw;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-content div {
  font-family: "neue-haas-grotesk-display";
  padding: 1vw;
}

.dropdown-content div div:hover {
  background-color: #f5f0ee;
}
.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: white;
  width: 10vw;
  margin-left: 20vw;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-content2 div {
  font-family: "neue-haas-grotesk-display";
  padding: 1vw;
}
.dropdown-content3 {
  display: none;
  position: absolute;
  background-color: white;
  width: 10vw;
  margin-left: 30vw;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown-content3 div {
  font-family: "neue-haas-grotesk-display";
  padding: 1vw;
}
.show {
  display: block;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
  top: 12vw;
  position: fixed;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }

  80% {
    transform: scaleY(1.1);
  }

  100% {
    transform: scaleY(1);
  }
}

header ul {
  display: flex;
  margin-left: 10vw;
  margin-top: 2vw;
}

#icon3,
#icon2,
#icon {
  width: 10vw;
  font-family: "neue-haas-grotesk-display";
}

header li:hover {
  cursor: pointer;
}

.arrow {
  border: solid black;
  border-width: 0 1.5px 1.5px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 7px;
  margin-bottom: 2px;
}
